
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="wrap">
    
    
    <br /><br />
    <div class="clear"></div>
    <div class="contact-bottom">
        <div class="contact-left">
            <div class="contact-add">
                <h3>Kişisel Adres </h3>
                <p> Karaman Mahallesi Ada:1459 bina:2 no:3</p>
                <p>Telefon:5310820342</p>
                <p>Email:<a href="mailto:sudecakir69@hotmail.com">sudecakir69@hotmail.com</a></p>
            </div>
            <div class="contact-add">
                <h3>Okul Adresi</h3>
                <p>Sakarya Üniversitesi</p>
                <p>No:B211210354</p>
                <p>Email:<a href="mailto:sudecakir69@hotmail.com">sudecakir69@hotmail.com</a></p>
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

