@using seyahat.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE HTML>
<html>

<body>


    <div class="content">
        <div class="wrap" >
            <div class="about" >
                <br />
                @*<h3>Hakkımda</h3>*@
                @foreach (var x in Model)
                {
                    <img style="height:300px; margin-left:250px" src="@x.FotoUrl" alt="" /> 

                    <p>@x.Aciklama</p>
                }
            </div>
    </div>

</body>
</html>
